.headAddress{

    font-size: 16px;
height: 100%;
font-weight: 700;
color: #999999;
}


.firstBox{
    width: 708px;
height: 139px;
border: 1px solid #f47b58;;

}

.h1Buffet{
    margin-top: -3px;
    margin-bottom: 2px;
}

.pBuffet{
    margin-top: auto;
}

.pFlex{
    display: flex;
    margin-top: 0px;
}


.pp{
    margin-top: 5px;
}


.ppp{
    margin-top: 5px;
}


.deals{
width: 55px;
height: 21px;

color: #f47b58;
border: 1px solid #f47b58;


}